.idea
.node
/dev_env/docker/proxy/ssl_certs/*food*
/dev_env/docker/dev.env*
/dev_env/docker/proxy/ssl_certs/test*
/src/index.nginx-debian.html
/src/public/bower_components
/src/public/admin/config.js
/src/public/web/config.js
/src/vendor
.env
.env-e
node_modules
src/bower_components
npm-debug.log
version
.DS_Store
__MACOSX